<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome : LT</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="body">

    <div class="center">
        <div>
            <a href="/tos">
                <button class="button">TOS</button>
            </a>
            <a href="docs">
                <button class="button">Documentation</button>
            </a>
            <a href="/github">
                <button class="button">Github</button>
            </a>
        </div>
        <div class="centervert">
            <a class="text">Yet Another SSO service.</a>
            <br>
            <a class="text">Examples for PHP, NodeJS.</a>
            <br>
            <a href="/auth/register">
                <button class="button">Sign Up</button>

            </a>

        </div>

    </div>

</body>
</html>