<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login : LT</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="body">

    <div class="center">
        <div>
            <a href="/main">
                <button class="button">home</button>
            </a>
            <a href="/auth/register">
                <button class="button">Sign Up</button>

            </a>
        </div>
        <div class="centervert">
            <form method="post" action="/auth/login">
                <input class="padd frminput" type="text" name="username" placeholder="Username" required>
                <br>
                <input class="padd frminput" type="password" name="password" placeholder="Password" required>
                <br>
                <button type="submit" class="padd frmbutton">Log In</button>
                <br>
            </form>

        </div>

    </div>

</body>
</html>